.cor1{
    background-color: red;
}
.cor2{
    background-color: green;
}
.cor3{
    background-color: blue;
    color:white;
}
.border{
    border: 1px solid red;
}
.margin-3{
    margin: 3%;
    padding: 3%;
}
.margin-auto{
    padding-top:auto;
    padding-bottom:auto;
}
